<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard de Jugadores</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <h1>Estadísticas de Jugadores en Tiempo Real</h1>

    <!-- Contenedor para el gráfico -->
    <div id="grafico" style="width: 800px; height: 600px;"></div>

    <script>
        function actualizarGrafico() {
            $.ajax({
                url: '/datos_grafico',
                method: 'GET',
                success: function(data) {
                    var graficoJson = JSON.parse(data);
                    Plotly.react('grafico', graficoJson.data, graficoJson.layout);
                }
            });
        }

        // Actualizar los datos del gráfico cada 5 segundos
        setInterval(actualizarGrafico, 1000);

        // Cargar los datos del gráfico por primera vez
        actualizarGrafico();
    </script>
</body>
</html>
